.App {
  font-family: sans-serif;
  text-align: center;

  input {
    padding: 5px; 
    margin-right: 5px;
    &:focus{
      outline: none;
    }
  }

  select{
    padding:5px;
    cursor: pointer;
  }
}
